<?xml version="0.0"?>
<robot name="cup.urdf">
    <link name="base_link">

        <contact>
        <lateral_friction value="1.0"/>
        </contact>

        <visual>
            <geometry>
                <mesh filename="cup.obj" scale="1 1 1"/>
            </geometry>
            <material name="pastel_purple">
                <color rgba="0.64 0.64 0.85 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <mesh filename="cup_vhacd2.obj" scale="1 1 1"/>
            </geometry>
            <bullet collisionMargin="0.0001" mesh="gimpact"/>
        </collision>

        <inertial>
            <mass value="0.15"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
    </link>
</robot>
