<?xml version="0.0"?>
<robot name="bowl.urdf">
    <link name="base_link">

        <contact>
        <lateral_friction value="1.0"/>
        </contact>

        <visual>
            <geometry>
                <mesh filename="bowl.obj" scale="1 1 1"/>
            </geometry>
            <material name="shiny_pink">
                <color rgba="1 0.2 0.6 1"/>  <!-- RGB (1, 0.2, 0.6) = Pink, Alpha=1 (Opaque) -->
            </material>
        </visual>

        <collision>
            <geometry>
                <mesh filename="bowl_vhacd2.obj" scale="1 1 1"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.2"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
    </link>
</robot>
