<?xml version="1.0"?>
    <robot name="convex_mesh">
    <link name="base_link">
        <!-- Visual Representation -->
        <visual>
            <geometry>
                <mesh filename="polygon_0.obj" scale="1 1 1"/>
            </geometry>
            <material name="custom_color">
                <color rgba="0.7917250380826646 0.5288949197529045 0.5680445610939323 1.0"/>
            </material>
        </visual>

        <!-- Collision Geometry -->
        <collision>
            <geometry>
                <mesh filename="polygon_0.obj" scale="1 1 1"/>
            </geometry>
        </collision>

        <!-- Inertial Properties -->
        <inertial>
            <mass value="1.0"/>
            <origin xyz="-0.030902785829331383 0.08108349527605205 0.015"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>
    </robot>