<?xml version="1.0"?>
    <robot name="convex_mesh">
    <link name="base_link">
        <!-- Visual Representation -->
        <visual>
            <geometry>
                <mesh filename="polygon_1.obj" scale="1 1 1"/>
            </geometry>
            <material name="custom_color">
                <color rgba="0.925596638292661 0.07103605819788694 0.08712929970154071 1.0"/>
            </material>
        </visual>

        <!-- Collision Geometry -->
        <collision>
            <geometry>
                <mesh filename="polygon_1.obj" scale="1 1 1"/>
            </geometry>
        </collision>

        <!-- Inertial Properties -->
        <inertial>
            <mass value="1.0"/>
            <origin xyz="-0.06023853109227259 -0.01127151576141497 0.015"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>
    </robot>